* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:not(.skip-link):focus {
    outline: 1px solid #000;
}

.skip-link {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: .5rem;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 500;
    outline: none;
    transform: translate(0, -100%);
    transition: all .5s ease-in-out;
}

.skip-link:hover {
    color: white;
    text-decoration: underline;
}

.skip-link:focus {
    transform: translate(0);
}

::selection {
    background-color: #000;
    color: white;
}

/* body::-webkit-scrollbar {
    width: 0;
} */

body::-webkit-scrollbar {
    width: .55rem;
}

body::-webkit-scrollbar-track {
    background-color: #000;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(69, 69, 69);
    border: .175rem solid #000;
    border-radius: 100rem;
}

html,
body {
    background-color: white;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.intro {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1.25s ease;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-logo {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1s ease-in-out;
    transition-delay: .5s;
}

.intro-logo-active {
    opacity: 1;
}

.intro-logo img {
    width: 12rem;
    margin-top: 1rem;
    filter: invert(100%);
}

.cust-btn {
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 0;
    transition: all .4s ease-in-out;
    background-color: none;
    font-family: 'Montserrat', sans-serif;
}

.btn:hover {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 2200px;
    height: 100%;
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 5rem;
}

@media (max-width: 992px) {
    .container {
        padding: 0 3rem;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 1.25rem;
    }
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    text-decoration: none;
    transition: all .3s ease-in-out;
    opacity: 1;
}

a:hover {
    color: #000;
}

#navbar {
    width: 100%;
    height: 6rem;
    min-height: max-content;
    margin-top: 3rem;
}

#navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbar-brand {
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: .5rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition-delay: .5s;
}

.navbar-brand span {
    font-size: 1.25rem;
    font-weight: 500;
}

.navbar-brand-active {
    color: white;
    transition-delay: .5s;
}

.hamburger {
    width: max-content;
    height: max-content;
    cursor: pointer;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.hamburger div {
    width: 48px;
    height: 3px;
    background: #000;
    margin: 8px 0;
    transition: all .6s ease;
}

.hamburger .line2 {
    width: 32px;
    margin-left: auto;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-21px, 6px);
    background-color: white;
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
    background-color: white;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-21px, -6px);
    background-color: white;
}

.nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, .92);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 4rem;
    opacity: 0;
    transition: all .5s ease-in-out;
    transition-delay: .5s;
    pointer-events: none;
    z-index: 1;
}

.nav-slide {
    opacity: 1;
    pointer-events: all;
}

.nav-link {
    color: white;
    font-size: 3rem;
    font-weight: 500;
    margin: 1rem 0;
    padding: 0 1.5rem;
    background-color: transparent;
    background-size: 0% 100%;
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    transition: all 0.6s linear;
}

.nav-link:hover {
    background-size: 100% 100%;
    color: #000;
    transition: all 0.6s cubic-bezier(0.000, 0.000, 0.230, 1);
}

@media screen and (max-width: 576px) {
    #navbar {
        height: 6rem;
        margin-top: 0;
    }

    .navbar-brand {
        font-size: 1.25rem;
        font-weight: 700;
        letter-spacing: .5rem;
    }

    .navbar-brand span {
        font-size: .8rem;
        font-weight: 500;
    }

    .hamburger div {
        width: 40px;
        height: 2.5px;
        margin: 6px 0;
    }

    .hamburger .line2 {
        width: 24px;
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-14px, 6px);
        background-color: white;
    }

    .toggle .line2 {
        transition: all 0.7s ease;
        width: 0;
        background-color: white;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-14px, -6px);
        background-color: white;
    }

    .nav-links {
        justify-content: flex-start;
        padding-top: 8rem;
        padding-right: 0;
    }

    .nav-link {
        font-size: 2rem;
        font-weight: 500;
        margin: .5rem 0;
        padding: 0 1.5rem;
    }
}

#main {
    width: 100%;
    min-height: max-content;
}

#main .container {
    display: flex;
    min-height: max-content;
}

.main-top {
    height: 20rem;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
}

.main-top h1 {
    font-size: 5rem;
    margin: 0;
}

.main-links {
    width: max-content;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
}

.main-link {
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 2rem;
    padding: .25rem .5rem;
    border-bottom: 1px solid #000;
    background-color: transparent;
    background-size: 0% 100%;
    background-image: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    transition: all 0.6s ease-in-out;
}

.main-link:hover {
    background-size: 100% 100%;
    color: white;
    transition: all 0.6s cubic-bezier(0.000, 0.000, 0.230, 1);
}

.main-img-container {
    width: 80%;
    height: 32rem;
    position: absolute;
    right: 0;
    margin-top: 8rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #000;
    background-image: url(../images/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .4s ease-in-out;
}

.main-img-container h1 {
    width: fit-content;
    color: white;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-right: 4rem;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.black-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition: all .4s ease-in-out;
}

.main-img-container:hover .black-bg {
    opacity: .4;
}

.main-img-container:hover h1 {
    opacity: 1;
    z-index: 1;
}

@media screen and (max-width: 1200px) {
    .main-top {
        height: 24rem;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .main-link {
        margin-top: 3rem;
        margin-left: 0;
        margin-right: 2rem;
        font-size: 1.25rem;
    }

    .main-img-container {
        margin-top: 4rem;
        width: 90%;
    }
}

@media (max-width: 576px) {
    .main-top {
        height: 18rem;
    }

    .main-top h1 {
        font-size: 3rem;
    }

    .main-link {
        font-size: 1rem;
    }
}

#about {
    width: 100%;
    min-height: max-content;
    margin-top: 50rem;
    margin-bottom: 8rem;
}

#about .container {
    height: 28rem;
    min-height: max-content;
    display: flex;
    justify-content: space-between;
}

.about-text {
    width: 56%;
    height: 100%;
    min-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-text h1 {
    display: flex;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
}

.about-text h1 hr {
    opacity: 1;
    width: 6rem;
    border: none;
    border-bottom: 3px solid #000;
    display: inline-block;
    margin-right: 2rem;
}

.about-text p {
    margin-top: 1rem;
    margin-left: 8rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
}

.about-img-container {
    position: absolute;
    right: 0;
    width: 40%;
    height: 30rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #000;
    background-image: url(../images/about-us.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .4s ease-in-out;
}

.about-img-container h1 {
    width: fit-content;
    color: white;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-right: 2rem;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.about-img-container:hover .black-bg {
    opacity: .64;
}

.about-img-container:hover h1 {
    opacity: 1;
    z-index: 1;
}

@media (max-width: 1428px) {
    .about-text p {
        font-size: 1.4rem;
        line-height: 2.25rem;
    }
}

@media screen and (max-width: 1200px) {
    .about-text p {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    #about {
        margin-top: 44rem;
        margin-bottom: 6rem;
    }

    #about .container {
        height: fit-content;
        flex-direction: column;
        justify-content: flex-start;
    }

    .about-text {
        width: 100%;
        height: fit-content;
        min-height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .about-img-container {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    #about {
        margin-top: 42rem;
        margin-bottom: 5rem;
    }

    .about-text h1 {
        font-size: 1.75rem;
    }

    .about-text h1 hr {
        width: 3rem;
        margin-right: 1rem;
    }

    .about-text p {
        margin-top: .5rem;
        margin-left: 4rem;
        font-size: 1.25rem;
        line-height: 2.25rem;
    }
}

@media screen and (max-width: 576px) {
    #about {
        margin-top: 41rem;
        margin-bottom: 3rem;
    }

    .about-text {
        height: fit-content;
    }

    .about-text h1 {
        font-size: 1.5rem;
    }

    .about-text h1 hr {
        width: 2rem;
        margin-right: 1rem;
    }

    .about-text p {
        margin-top: 0;
        margin-left: 3rem;
        font-size: 1.1rem;
        line-height: 2rem;
    }
}

#projects {
    width: 100%;
    min-height: max-content;
    margin-bottom: 8rem;
}

#projects .container {
    display: flex;
    flex-direction: column;
    padding: 0;
}

#projects .container h1 {
    width: fit-content;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
}

#projects .container h1 hr {
    opacity: 1;
    width: 6rem;
    border: none;
    border-bottom: 3px solid #000;
    display: inline-block;
    margin-right: 2rem;
}

.projects {
    width: 100%;
    min-height: max-content;
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
}

.projects::-webkit-scrollbar {
    display: none;
}

.project {
    width: fit-content;
    min-height: max-content;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.project:hover img {
    filter: brightness(.94);
    transform: scale(1.1);
}

.project img {
    width: 28rem;
    min-height: 24rem;
    filter: brightness(.8);
    transition: all .5s ease-in-out;
}

.project1-img {
    filter: drop-shadow(0 .5mm .5mm rgb(0, 0, 0, .1));
}

.project h3 {
    position: relative;
    font-size: 1.4rem;
    margin-top: 2rem;
    padding-bottom: .5rem;
}

.project h3:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.project:hover h3:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.all-projects {
    width: 24rem;
    height: 24rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0);
    transition: all 0.6s ease-in-out;
}

.all-projects h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    border-left: 4px solid #000;
    background-color: transparent;
    background-size: 0% 100%;
    background-image: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    transition: all 0.6s ease-in-out;
}

.all-projects h4 i {
    margin-right: 1rem;
}

.all-projects:hover {
    background-color: rgb(0, 0, 0, .05);
}

.all-projects:hover h4 {
    background-size: 100% 100%;
    color: white;
    transition: all 0.6s cubic-bezier(0.000, 0.000, 0.230, 1);
}

@media (max-width: 1200px) {
    #projects {
        margin-bottom: 6rem;
    }
}

@media screen and (max-width: 992px) {
    #projects {
        margin-bottom: 5rem;
    }

    #projects .container h1 {
        font-size: 1.75rem;
        margin-left: 3rem;
    }

    #projects .container h1 hr {
        width: 3rem;
        margin-right: 1rem;
    }

    .projects {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 576px) {
    #projects {
        margin-bottom: 2rem;
    }

    #projects .container h1 {
        font-size: 1.5rem;
        margin-left: 1.25rem;
    }

    #projects .container h1 hr {
        width: 2rem;
        margin-right: 1rem;
    }

    .project img {
        width: 90vw;
    }

    .all-projects {
        width: 90vw;
    }
}

#contact {
    width: 100%;
    min-height: max-content;
    margin-bottom: 6rem;
}

#contact .container {
    height: fit-content;
    min-height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.contact-info {
    width: 40%;
    min-width: max-content;
    height: 100%;
    min-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: auto;
}

.contact-info h1 {
    display: flex;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 6rem;
}

.contact-info h1 hr {
    opacity: 1;
    width: 6rem;
    border: none;
    border-bottom: 3px solid #000;
    display: inline-block;
    margin-right: 2rem;
}

.contact-info a {
    width: fit-content;
    font-size: 1.25rem;
    margin-left: 8rem;
    margin-bottom: 2rem;
    padding: .25rem .5rem;
    background-color: transparent;
    background-size: 0% 100%;
    background-image: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    transition: all 0.6s ease-in-out;
}

.contact-info a:hover {
    background-size: 100% 100%;
    color: white;
    transition: all 0.6s cubic-bezier(0.000, 0.000, 0.230, 1);
}


.contact-socials {
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-left: 8rem;
}

.contact-socials a {
    width: 3rem;
    height: 3rem;
    margin: 0;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
}

.contact-services {
    width: 54%;
    height: 24rem;
    display: flex;
    overflow-x: scroll;
}

.contact-services::-webkit-scrollbar {
    display: none;
  }

.service {
    min-width: 16rem;
    height: 100%;
    background-color: rgb(0, 0, 0, .1);
    margin: 0 1rem;
}

@media screen and (max-width: 1295px) {
    .contact-services {
        width: 48%;
    }
}

@media screen and (max-width: 1162px) {
    .contact-services {
        width: 40%;
    }
}

@media screen and (max-width: 1030px) {
    .contact-services {
        width: 20rem;
    }
}

@media screen and (max-width: 992px) {
    .contact-info a,
    .contact-socials {
        margin-left: 4rem;
    }

    .contact-socials a {
        width: 3rem;
        height: 3rem;
        margin: 0;
        margin-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.75rem;
    }

    .contact-services {
        width: 20rem;
    }
}

@media screen and (max-width: 872px) {
    #contact {
        margin-bottom: 4rem;
    }

    .contact-info h1 {
        margin-bottom: 1.5rem;
    }

    .contact-info a {
        margin-bottom: 1rem;
    }

    .contact-socials a {
        width: 3rem;
        height: 3rem;
        margin: 0;
        margin-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.75rem;
    }

    .contact-services {
        margin-top: 2rem;
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .contact-info a,
    .contact-socials {
        margin-left: 1rem;
        font-size: 1rem;
    }

    .contact-socials a {
        width: 3rem;
        height: 3rem;
        margin: 0;
        margin-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.75rem;
    }
}

.cta {
    width: 100%;
    height: fit-content;
    margin-top: 6rem;
}

.cta h2 {
    display: flex;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.cta h2 hr {
    opacity: 1;
    width: 6rem;
    border: none;
    border-bottom: 3px solid #000;
    display: inline-block;
    margin-right: 2rem;
}

.cta form {
    width: 88%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cta input {
    width: 48%;
    height: 2rem;
    border: none;
    border-bottom: .1rem solid #000;
    margin: 1.5rem 0;
}

.cta input:focus {
    outline: none;
}

.cta input:-webkit-autofill,
.cta input:-webkit-autofill:hover,
.cta input:-webkit-autofill:focus,
.cta input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: #000 !important;
}

.cta .message {
    width: 100%;
    margin-top: 1.5rem;
    border: none;
    border-bottom: .1rem solid #000;
    resize: none;
}

.cta .message:focus {
    outline: none;
}

.cta .message::-webkit-scrollbar {
    width: .55rem;
}

.cta .message::-webkit-scrollbar-track {
    background-color: white;
}

.cta .message::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0, .4);
    border: .175rem solid white;
    border-radius: 100rem;
}

.cta .cust-btn {
    padding: .5rem .75rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: white;
    border: 1.5px solid #000;
    background-color: #000;
    background-size: 0% 100%;
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    transition: all 0.6s ease-in-out;
}

.cta .cust-btn:hover {
    border: 1.5px solid #000;
    background-size: 100% 100%;
    color: #000;
    transition: all 0.6s cubic-bezier(0.000, 0.000, 0.230, 1);
}

@media screen and (max-width: 992px) {
    .contact-info h1,
    .cta h2 {
        font-size: 1.75rem;
    }

    .contact-info h1 hr,
    .cta h2 hr {
        width: 3rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .cta {
        margin-top: 4rem;
    }

    .contact-info h1 {
        font-size: 1.5rem;
    }

    .contact-info h1 hr,
    .cta h2 hr {
        width: 2rem;
    }

    .cta h2 {
        font-size: 1.25rem;
    }

    .cta form {
        width: 100%;
    }

    .cta input {
        width: 48%;
        height: 2rem;
        border: none;
        border-bottom: .1rem solid #000;
        margin: 1.5rem 0;
    }

    .cta .message {
        width: 100%;
        margin-top: 1.5rem;
        border: none;
        border-bottom: .1rem solid #000;
        resize: none;
    }
}


#footer {
    width: 100%;
    min-height: max-content;
    border-top: 2px solid rgb(0, 0, 0, .1);
}

#footer .container {
    height: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.footer-top {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-top a {
    width: fit-content;
    font-size: 1.25rem;
    padding: .25rem .5rem;
    background-color: transparent;
    background-size: 0% 100%;
    background-image: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    transition: all 0.6s ease-in-out;
}

.footer-top a:hover {
    background-size: 100% 100%;
    color: white;
    transition: all 0.6s cubic-bezier(0.000, 0.000, 0.230, 1);
}

.footer-links {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 4rem;
}

.footer-links h4 {
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer-links a {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.footer-socials {
    margin-left: auto;
    display: flex;
}

.footer-socials a {
    width: 2rem;
    height: 2rem;
    margin: 0;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.footer-mid {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 4rem;
}

.footer-logo {
    margin-right: auto;
}

.footer-logo img {
    width: 10rem;
}

.footer-img {
    margin-left: 2rem;
}

.footer-img img {
    width: 6rem;
}

.footer-bottom {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
}

@media screen and (max-width: 677px) {
    #footer .container {
        margin-top: 2rem;
    }

    .footer-top h4 {
        font-size: 1.25rem;
    }

    .footer-top a {
        font-size: 1.1rem;
        padding: .1rem .25rem;
    }

    .footer-links {
        margin-right: 1rem;
    }

    .footer-socials {
        flex-direction: column;
    }

    .footer-socials a {
        margin: .5rem 0;
    }

    .footer-logo img {
        width: 8rem;
    }

    .footer-img {
        margin-left: .5rem;
    }

    .footer-img img {
        width: 5rem;
    }

    .footer-bottom {
        margin-top: 3rem;
        font-size: .9rem;
    }

    .footer-bottom p {
        margin: 0;
        padding: 0;
    }
}